
@use '../abstracts/shadows';
@use '../abstracts/colors';
@use '../abstracts/prefix';
@use '../abstracts/functions';

.o-accordion {
	$o-accordion: &;
	&__item {
		box-shadow: shadows.$default-shadow;
		margin-bottom: functions.toRem(10px);
	}
	&__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: functions.toRem(18px);
		color: colors.$primary-color;
		font-size: functions.toRem(15px);
		text-align: left;
		background-color: colors.$white;
		border: functions.toRem(1px) solid colors.$white;
		cursor: pointer;
		outline: none;
		@include prefix.transition($time:0.3);
	}
	&__content {
		max-height: 0;
		padding: 0 functions.toRem(18px);
		font-size: functions.toRem(15px);
		@include prefix.transition($time:0.3);
		overflow: hidden;
	}
	&__content-spacing {
		padding-bottom: functions.toRem(20px);
	}
}
