// Project border radius
$border-radius--primary:0px;
$border-radius--secondary:0px;

// default
$border-radius--xsmall: 2px;
$border-radius--small: 5px;
$border-radius--md: 10px;
$border-radius--lg: 15px;
$border-radius--xl: 20px;

