
//------------------------------------ Dark Theme Color
$dark-theme-text-color:#FFF;
$dark-theme-bg-color:#1d1d1d;

//------------------------------------ Default
$white: #ffffff;
$black: #000;
$shadow: #0D111E66; 
$base:#00000040;

//------------------------------------ Project Colours HEX
$primary-color: #1C3177; 
$secondary-color:#0E87EB;

//------------------------------------ Background Colour as classes
// .has {
// 	&-white-background-color {
// 		background-color: $white;
// 	}
// 	&-black-background-color {
// 		background-color: $black;
// 	}
// 	&-primary-background-color {
// 		background-color: $primary-color;
// 	}
// 	// Text colours as classes
// 	&-white-color {
// 		color: $white;
// 	}
// 	&-black-color {
// 		color: $black;
// 	}
// 	&-primary-color {
// 		color: $primary-color;
// 	}
// }
